@font-face {
  font-family: "Zalando";
  src: url("fonts/ZalandoSansExpanded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoSlab-Regular.ttf") format("truetype");
}

header,
main {
  padding: 20px;
}

body {
  background-color: rgb(176, 202, 225);
  line-height: 1.6;
  font-family: "Roboto", serif;
}

img {
  width: 100%;
  margin: 15px 0;
  border-radius: 12px;
}

.rotate {
  transform: rotate(90deg);
  width: 80%;
  display: block;
  margin: -40px auto;
}

h1,
h2,
h3 {
  background-color: rgb(136, 161, 184);
  padding: 20px;
  border-radius: 12px;
  font-family: "Zalando", sans-serif;
}

p {
  font-family: "Roboto", serif;
}

.button {
  background: rgb(136, 161, 184);
  padding: 10px 16px;
  border-radius: 12px;
  margin-bottom: 25px;
  display: inline-block;
}

.knap {
  display: inline-block;
  background-color: rgb(136, 161, 184);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 12px;
  font-family: "Zalando", sans-serif;
  margin-top: 10px;
}
